html, body {
    margin:0;
    padding: 0;
    background-color: white;
}

.nav{
    text-align: end;
    font-size: 12px;    

}

.nav ul {
    margin-right: 20px;
}


.nav ul>li {
    padding: 10px;
    display: inline;
}

.nav ul>li>a{
    color: black;
    text-decoration: none;
}

.nav ul>li>a:hover{
    text-decoration: underline;
}

#signIn {
    color: white;
    background-color: rgb(77, 144, 254);
    font-weight: bold;;
    border: 1pt solid rgb(48, 121, 237);
    border-radius: 5px; 
}

#signIn:hover {
    background-color: rgb(53, 122, 232);
}

.image{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
}

.searchBarContainer {
    margin-top: 25px;
    text-align: center;
}



.searchBar{
    border: 1pt solid gainsboro;
    padding: 15px 20px 15px 20px;
    border-radius: 40px;
    width: 500px;
}

.searchBar:hover,:focus {
    box-shadow: 2px 2px 4px gainsboro;
}

.buttons{
    text-align: center;
    margin-top: 20px;

}

input[type="button"]{
    color: rgb(95, 99, 104);
    border: 1pt solid transparent;
    padding: 10px;
    cursor: pointer;
    margin: 10px 10px 0px 10px;

    background-color: rgb(244, 244, 244);
}

input[type="button"]:hover{
    border: 1pt solid rgb(198, 198, 198);
    color: rgb(40, 34, 34);
    border-radius: 4px ;
    box-shadow: 0.5px rgb(198, 198, 198) ;
}

input[type="button"]:focus{
    box-shadow: none;
    border: 1pt solid ;
}

input[type="button"]:visited {
    border: none;
}

.buttons p{
    font-size: 12px;
    padding: 20px;
}

.buttons p>a{
    text-decoration: none;
    color: blue;
    margin: 0px 2px 0px 2px;
}

.buttons p>a:hover{
    text-decoration: underline;
}

.buttons p>a:visited{
    text-decoration: none;
}
